   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

   
   <!-- PAGE | WELCOME -->
   <div class="pages white paralax page-welcome" id="page-welcome">
    <div class="overlay"></div>
    <!-- Centralized content -->
    <div class="centralized">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 center">

                    
                    <div class="line-divider" id="welcome-messages">
                        <ul class="slides">

                            <li>
                                <h1>ДЕНЬ ПАМЯТИ И СКОРБИ</h1>
                            </li>
                            <li>
                                <h1 style="color: red;">22 июня!</h1>
                            </li>
                            <li>
                                <h1>4:00 в Кремле</h1>
                            </li>

                        </ul>
                    </div>
                    <p>День памяти и скорби</p>
                    <p style="color: red; font-size: 2em">22 июня в 4:00 в Нижегородском Кремле у Вечного огня!</p>
                    <%= render "/shared/social" %>
                    <p></p>
                    <div class="social-icons sicon-white bordered">
                        <a href="#">
                            <img src="/images/clients/fnk.jpg" alt="Treble">
                        </a>
                        <a href="http://government-nnov.ru" target="_blank">
                            <img src="/images/clients/07.jpeg" alt="Treble">
                        </a>
                    </div><p>Организаторы проекта</p>
                    

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE | Welcome -->

<!-- PAGE | HISTORY  -->
<div class="pages black-bg white page-features" id="page-history">
    <div class="overlay"></div>
    <div class="container">
     <!-- Header -->
     <header>
        <h4 class="line-divider">О мероприятии</h4>                
        <h1>Акция памяти <br><span class="red">ПЕРВЫЙ ВОЕННЫЙ РАССВЕТ</span></h1>
        <div class="row">
            <div class="span8 offset2">
                <p style="font-size: 24px">Дорогие участники велопробега "Дорога Минина"!</p>
                <p style="font-size: 24px; line-height: 1.5;">Приглашаем Вас 22 июня, в День памяти и скорби, в 4 часа утра вспомнить наших соотечественников, которые 74 года назад, в этот день, встретили первый военный рассвет. 
</p>
<p style="font-size: 24px; line-height: 1.5;">Собираемся в 3:45 в Нижегородском Кремле у Михайло-Архангельского собора и идём к Вечному огню. Проход в Кремль через ворота у Кладовой башни (движение по территории Кремля в пешем порядке). Желательно одеть футболку с велопробега "Дорога Минина - 2015" с логотипом 70 лет Победы. 

                                    </div>
                                </div>
                            </header>
                            <!-- End Header -->
                            
                            <!-- Article -->
                            <article>
                                <!-- Features blocks -->
                                <div class="row-fluid">
                                    <div class="span3 center">
                                        <a href="/images/22june/1.jpg" target="_blank" data-destination="portfolio-items" data-insert="before">
                                            <img src="/images/22june/1.jpg" alt="Treble">
                                        </a>
                                        <h5>Он был сыном, братом, любимым...</h5>
                                    </div>
                                    <div class="span3 center">
                                        <a href="/images/22june/2.jpg" target="_blank" data-destination="portfolio-items" data-insert="before">
                                            <img src="/images/22june/2.jpg" alt="Treble">
                                        </a>
                                        <h5>В сентябре 41-ого был завхачен немцами</h5>
                                        
                                    </div>
                                    <div class="span3 center">
                                        <a href="/images/22june/3.jpg" target="_blank" data-destination="portfolio-items" data-insert="before">
                                            <img src="/images/22june/3.jpg" alt="Treble">
                                        </a>
                                        <h5>Ведут на расстрел</h5>
                                        
                                    </div>
                                    <div class="span3 center">
                                        <a href="/images/22june/4.jpg" target="_blank" data-destination="portfolio-items" data-insert="before">
                                            <img src="/images/22june/4.jpg" alt="Treble">
                                        </a>
                                        <h5>Расстреливают</h5>
                                        
                                    </div>
                                </div>
                                <p>Немецкая военная фотохроника. Сентябрь 1941.</p>
                            <center><h1 class="red">ПОМНИМ, СКОРБИМ!</h1></center>
                            </article>
                            <!-- End Article -->
                        </div>
                    </div>
                    <!-- END PAGE | FEATURES -->


    <!-- END PAGE | WORK -->
