   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

   
    <!-- PAGE | WELCOME -->
    <div class="pages white paralax page-welcome" id="page-welcome">
        <div class="overlay"></div>
        <!-- Centralized content -->
        <div class="centralized">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12 center">
                        <!-- Animated logo -->
                        <div class="logo">
                            <div class="scrollNormal">
                                <a href="#page-contact">
                                    <img src="/images/logo_welcome.png" width="140" height="140" alt="Treble">
                                </a>
                            </div>
                            <div class="scrollDown">
                                <a href="#page-contact">
                                    <img src="/images/logo2_welcome.png" width="140" height="140" alt="Treble">
                                </a>
                            </div> 
                        </div>
                        
                        <div class="line-divider" id="welcome-messages">
                            <ul class="slides">

                                <li>
                                    <h1>Дорога Минина</h1>
                                </li>
                                <li>
                                    <h1>18 мая 2014 года</h1>
                                </li>
                                <li>
                                    <h1>Нижний Новгород - Балахна</h1>
                                </li>

                            </ul>
                        </div>
                                                <p>Девятый велопробег. Старт 19 мая.</p>
                        <div class="social-icons sicon-white bordered">
                            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                        </div>
                        <p></p>
                        <div class="social-icons sicon-white bordered">
                            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                        </div>
                        <p>Наши партнёры.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE | Welcome -->
   
    <!-- PAGE | CONTACT -->
    <div class="pages black-bg white page-contact" id="page-contact">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Регистрация на велопробег</h4>
                <h1>Добро пожаловать!</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            Здесь вы можете зарегистрироваться и зарегистрировать своих друзей на 9-ый велопробег Дорога Минина.
                        </p>
                    </div>
                </div>
            </header>
            <!-- End Header -->
            
            <!-- Start Article -->
            <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span6">
                        <h5>Зарегистрироваться</h5>
                        <form>
                            <div id="parentId">
                                <input type="text" class="span3" placeholder="Фамилие" required="required">
                                <input type="text" class="span3" placeholder="Имя" required="required">
                                <input type="text" class="span3" placeholder="Отчество" required="required">
                                <input type="text" class="span3" placeholder="Сотовый телефон" required="required">
                                <a onclick="return deleteField(this)" href="#">[X]</a>
                            </div>
                            <p><strong><span class="red"><a onclick="return addField()" href="#">+</span> зарегистрировать ещё одного участника</a></strong></p>
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </form>
                    </div>
                    <!-- End Contact form -->
                    <!-- Contact information -->
                    <div class="span5 offset1">
                        <h5>Контакты организаторов</h5>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-phone"><i>Телефон</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                8 (831) 433-10-50
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-place"><i>Адрес</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                г. Нижний Новгород, ул. Ильинская, 109
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-mail"><i>Email</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                mail@rambler.ru
                            </div>
                        </div>

                        <br/>
                        <br/>
                        <br/>
                        <h5>Социальные вкладки</h5>
                        <div class="social-icons sicon-white bordered">
                            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                        </div>
                    </div>
                    <!-- End Contact information -->
                </div>
            </article>
            <!-- End Article -->
            
        </div>
        
        <!-- Background map image -->
        <div id="map-image">
            <img src="/images/map_bck.jpg" alt="Treble">
        </div>
    </div>
    <!-- END PAGE | CONTACT -->




    <!-- PAGE | FEATURES  -->
    <div class="pages page-features" id="page-features">
        <div class="overlay"></div>
        <div class="container">
             <!-- Header -->
            <header>
                <h4 class="line-divider">О велопробеге</h4>                
                <h1>История велопробега</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            В этом году мы проводим девятый велопробег из Нижнего Новгорода до родины гражданина Минина в городе Балахне. 
                        </p>
                    </div>
                </div>
            </header>
             <!-- End Header -->
             
             <!-- Article -->
            <article>
                <!-- Features blocks -->
                <div class="row-fluid">
                    <div class="span4 center">
                        <img src="assets/images/pages/features/about01.png" alt="Treble">
                        <h5>Responsive</h5>
                        <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="span4 center">
                        <img src="assets/images/pages/features/about02.png" alt="Treble">
                        <h5>Bootstrap based</h5>
                        <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="span4 center">
                        <img src="assets/images/pages/features/about03.png" alt="Treble">
                        <h5>Easy to customize</h5>
                        <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <!-- Testemonials -->
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="quote center">
                            <div id="quote-slider" class="slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        <h5>Иванов Иван</h5>
                                    </div>
                                    <div class="item">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        <h5>Гертруда Авоськавна</h5>
                                    </div>
                                    <div class="item">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        <h5>Пётр Даниилович</h5>
                                    </div>
                                </div>
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                                    <li data-target="#quote-slider" data-slide-to="1"></li>
                                    <li data-target="#quote-slider" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </div>
    <!-- END PAGE | FEATURES -->


    <!-- PAGE | WORK -->
    <div class="pages page-work" id="page-work">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Галерея</h4>
                <h1>Галерея</h1>
                <!-- Short desciption about Work in general -->
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            Здесь представлены фото и видео с предыдущих велопробегов. Большой вклад в подготовку галереи вложили его участники, передавая фотографии и видео в штаб организаторов.
                        </p>
                    </div>
                </div>
                    
                <!-- Sub menu -->
                <!-- 
                Params: 
                    plugin-filter: Defines links for filtering.
                -->
                <nav class="submenu">
                    <ul>
                        <li>
                            <a href="#" class="plugin-filter active" data-filter="all">Все</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="typography">Регистрация</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="illustration">Старт</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="branding">Движение</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="photography">Балахна</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="photography">Привал</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- End Header -->
                
            <!-- Article -->
            <article>
                <!-- Portfolio items
                    Params: 
                        plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
                        portfolio-items: Customise portfolio items for hover effect.
                -->
                <ul class="thumbnails plugin-filter-elements portfolio-items">
                    <li class="span4 mix illustration branding">
                        <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                            <!-- Portfolio image -->
                            <img src="assets/images/pages/work/01_th.jpg" alt="Treble">
                            
                            <!-- Portfolio name, activated on hover -->
                            <div class="portfolio-overlay">
                                <h4>Vita Worldwide</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix branding typography illustration">
                        <a href="#pages/portfolio/project_2.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/02_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Kokong Magazine</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography illustration">
                        <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/03_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Escape The Grid 2</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography">
                        <a href="#pages/portfolio/project_4.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/04_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Avatar</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography typography branding">
                        <a href="#pages/portfolio/project_5.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/05_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>A Brighter Horizon</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography">
                        <a href="#pages/portfolio/project_6.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/06_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>The Travelers</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix illustration branding typography">
                        <a href="#pages/portfolio/project_7.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/07_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Tron 3</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography illustration">
                        <a href="#pages/portfolio/project_8.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/08_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Vimeo Staff Picke - Rio</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix illustration branding">
                        <a href="#pages/portfolio/project_9.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/09_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Adobe Family. 1882</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </article>
            <!-- End Article -->
            
            <!-- Footer -->
            <footer>
                <div class="show-more-cube">
                     <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
                        <span>Show<br/>More</span>
                    </a>
                </div>
            </footer>
            <!-- End footer -->
        </div>
    </div>
    <!-- END PAGE | WORK -->

    <!-- PAGE | CLIENTS -->
    <div class="pages page-clients" id="page-clients">
        <div class="container">
            <h4 class="line-divider-inline center">Наши партнёры</h4>
            <!-- Client logos -->
            <div class="row-fluid">
                <div class="span2 center">
                    <img src="assets/images/pages/clients/01.png" alt="Treble">
                </div>
                <div class="span2 center">
                    <img src="assets/images/pages/clients/02.png" alt="Treble">
                </div>
                <div class="span2 center">
                    <img src="assets/images/pages/clients/03.png" alt="Treble">
                </div>
                <div class="span2 center">
                    <img src="assets/images/pages/clients/04.png" alt="Treble">
                </div>
                <div class="span2 center">
                    <img src="assets/images/pages/clients/05.png" alt="Treble">
                </div>
                <div class="span2 center">
                    <img src="assets/images/pages/clients/06.png" alt="Treble">
                </div>
            </div>
            <!-- Short text related to client's -->
            <div class="row-fluid">
                <div class="span8 offset2 center smallFontBy08">
                    <p>
                        Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. Вы можете стать нашим партнёром. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE | CLIENTS -->
    


