   <!-- NAVIGATION -->
   <nav class="fixed-top1" id="navigation">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- LOGO -->
          <a class="brand pull-left" href="/index.html">
            IX Открытый велопробег "Дорога Минина"
          </a>
          <!-- END LOGO -->

          <!-- MOBILE MENU BUTTON -->
          <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <!-- END MOBILE MENU BUTTON -->

          <!-- MAIN MENU -->
          <ul id="main-menu" class="nav-collapse collapse">
            <li><a href="/index.html#page-welcome">Информация</a></li>
            <li><a href="/index.html#page-registration">Регистрация</a></li>
            <li><a href="/index.html#page-history">Справка</a></li>
            <li><a href="/index.html#page-gallery">Галерея</a></li>
            <li><a href="/index.html#page-clients">Партнёры</a></li>
          </ul>
          <!-- END MAIN MENU -->

          <!-- SOCIAL ICONS -->
          <div class="social-icons hover-big pull-right">
            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
          </div>
          <!-- END SOCIAL ICONS -->
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAVIGATION -->

  <div class="pages black-bg white page-contact" id="page-contact">
    <div class="container">

      <% if @user.paid == 0 %>

        <%= render "/shared/oplata" %>

      <% elsif @user.paid == 2 && @user.zveno.blank? %>

        <%= render "/shared/registed" %>

      <% elsif @user.paid == 2 && !@user.zveno.blank? %>

        <%= render "/shared/show" %>

      <% end %>

      <!-- Background map image -->
      <div id="map-image">
        <img src="/images/map_bck.jpg" alt="Treble">
      </div>

<br><br><br><br>
    <%= render '/shared/partners' %>