<!-- PAGE | HISTORY  -->
<div class="pages" id="page-foundation">
    <div class="overlay"></div>
    <div class="container">
     <!-- Header -->
     <header>
        <h4 class="line-divider">Интерактивная выставка</h4>                
        <h1>Завет Петра Великого</h1>
        <center>
            <p>Историческая традиция поклонения памяти гражданина Минина первыми лицами российского государства.</p>
        </center>
<ul class="thumbnails plugin-filter-elements portfolio-items">
                        <li class="span4 mix 2006">
                            <a href="#" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/1.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                            
                                    <p>Весной 1722 года Петр Великий отправился в Персидский поход. Нижний Новгород был местом сбора русских войск и их погрузки на суда. 30 мая 1722 года, в день своего пятидесятилетия, Государь посетил могилу Кузьмы Минина в Спасо-Преображенском соборе Нижегородского кремля, поклонился до земли и сказал: «Вот истинный спаситель Отечества!». Патриотический поступок царя-реформатора положил начало всенародному почитанию памяти гражданина Минина. В Нижнем Новгороде состоялся акт национального единства – правитель России поклонился народу!</p>
                                </div>
                            </a>
                        </li>
                        <li class="span4 mix 2006">
                            <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/2.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                                    <p>АЛЕКСАНДР I
«…ДА ВСТРЕТИТ ОН (ВРАГ) В КАЖДОМ ДВОРЯНИНЕ – ПОЖАРСКОГО, В КАЖДОМ ДУХОВНОМ – ПАЛИЦИНА, В КАЖДОМ ГРАЖДАНИНЕ – МИНИНА» (из манифеста императора Александра I от 6-го июля 1812 года)
Исторических свидетельств о посещении могилы Минина Александром I нет. В Нижнем Новгороде он был проездом в Казань со своим отцом императором Павлом. Но В 1813 году Александр I прислал знамена Нижегородского ополчения 1812 года на могилу Кузьмы Минина, и при нем был сооружен первый памятник в Москве, и посвящался он подвигу Нижегородского ополчения. </p>
                                </div>
                            </a>
                        </li>
                        <li class="span4 mix 2006">
                            <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/3.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                                    <p>В эпоху правления императора Николая I память гражданина Минина была почтена:
<br>- передачей знамени Нижегородского ополчения 1612 года на хранение в Оружейную палату Московского кремля (1826)
<br>- изготовлением и передачей копии  знамени Нижегородского ополчения 1612 года к могиле Кузьмы Минина в Спасо-Преображенском соборе Нижегородского кремля (1827)
<br>- изготовлением и установкой обелиска гражданину Минину и князю Пожарскому в Нижнем Новгороде (1828)</p>
                                </div>
                            </a>
                        </li>
                        <li class="span4 mix 2006">
                            <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/4.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                                    <p>АЛЕКСАНДР III
«ПОДВИГ НИЖЕГОРОДСКОГО ГРАЖДАНИНА МИНИНА ДА БУДЕТ ВСЕГДА СВЯТЫМ ЗАВЕТОМ СОГРАЖДАНАМ ВАШИМ И ВСЕМ ВЕРНЫМ СЫНАМ РОССИИ» <br>
15 июля 1869 года при посещении Нижнего Новгорода Наследник Цесаревич Александр Александрович поклонился праху Кузьмы Минина и выразил сожаление, что «память этого великого по заслугам человека недостаточно почтена». В 1878 году иждивением ярмарочного купечества был воздвигнут в городском Кафедральном соборе памятник доблестному Нижегородскому гражданину Кузьме Минину.</p>
                                </div>
                            </a>
                        </li>
                        <li class="span4 mix 2006">
                            <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/5.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                                    <p>НИКОЛАЙ II
17 июня 1896 император Николай II вместе с императрицей Александрой Федоровной посетили Нижний Новгород для осмотра XVI Всероссийской промышленной и художественной выставки. С железнодорожного вокзала императорская чета прибыла в кафедральный Спасо-Преображенский собор Нижегородского кремля. После торжественного молебна высокие гости поклонились праху гражданина Минина, и под колокольный звон царская чета отбыла из собора на выставку. Во время знакомства с выставкой император Николай II посетил павильон художника Константина Маковского, где экспонировалась картина «Воззвание Минина к нижегородцам».</p>
                                </div>
                            </a>
                        </li>
                        <li class="span4 mix 2006">
                            <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/6.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                                    <h4>2007</h4>
                                </div>
                            </a>
                        </li>
                        <li class="span4 mix 2006">
                            <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/7.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                                    <h4>2007</h4>
                                </div>
                            </a>
                        </li>
                        <li class="span4 mix 2006">
                            <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/8.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                                    <h4>2007</h4>
                                </div>
                            </a>
                        </li>
                        <li class="span4 mix 2006">
                            <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                                <!-- Portfolio image -->
                                <img src="/images/petr/9.png" alt="Treble">
                                
                                <!-- Portfolio name, activated on hover -->
                                <div class="portfolio-overlay">
                                    <h4>2007</h4>
                                </div>
                            </a>
                        </li>                        
</ul> 
    </header>
                           
    </div>
</div>
 
                    <!-- END PAGE | FEATURES -->