                        <h6>Последние новости</h6>
                        <ul class="simple-link-list">
                        	<% Post.order("created_at DESC").each do |post| %>
                            <li>
                                <%= link_to post.name, post %>
                            </li>
                            <% end %>
                        </ul>