    <!-- NAVIGATION -->
<%= render '/shared/navigation' %>
    <!-- END NAVIGATION -->
    
    <!-- PAGE | BLOG -->
    <div class="pages page-blog-list" id="page-blog-list">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Новости</h4>
                <h1>Новости Велопробега</h1>
              
            </header>
            <!-- End Header -->

            <div class="row-fluid">
                <div class="span8 blog-details">
                    <!-- Article -->
                    <article>
                        <!-- Blog image -->
                        <a href="blog_1.html">
                            <img src="../../assets/images/pages/blog/01_blog.jpg">
                        </a>
                        
                        <!-- Blog title -->
                        <h5>
                            Blog Post Title<br/>
                            <small>Posted By <a href="#">Gridelicious</a>, April 10, 2013, in <a href="#">Photography</a></small>
                        </h5>
                        
                        <!-- Blog post description -->
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.<br/>
                        </p>
                        <p>
                           Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                        </p>
                        
                        <!-- Blog read more -->
                        <div class="read-more">
                            <a href="blog_1.html">Read More...</a>
                        </div>
                        
                        <!-- Blog comments -->
                        <div class="comments">
                            <a href="#">4 comments</a>
                        </div>
                    </article>
                    
                    
                    <article>
                        <!-- Blog video -->
                        <iframe src="http://player.vimeo.com/video/33193443?portrait=0" width="800" height="341" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        
                        <!-- Blog title -->
                        <h5>
                            Blog Post Title<br/>
                            <small>Posted By <a href="#">Gridelicious</a>, April 10, 2013, in <a href="#">Photography</a></small>
                        </h5>
                        
                        <!-- Blog post description -->
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.<br/>
                        </p>
                        <p>
                           Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                        </p>
                        
                        <!-- Blog read more -->
                        <div class="read-more">
                            <a href="blog_2.html">Read More...</a>
                        </div>
                        
                        <!-- Blog comments -->
                        <div class="comments">
                            <a href="#">4 comments</a>
                        </div>
                    </article>
                    
                    
                    <article>
                        <!-- Blog image -->
                        <a href="blog_3.html">
                            <img src="../../assets/images/pages/blog/03_blog.jpg">
                        </a>
                        
                        <!-- Blog title -->
                        <h5>
                            Blog Post Title<br/>
                            <small>Posted By <a href="#">Gridelicious</a>, April 10, 2013, in <a href="#">Photography</a></small>
                        </h5>
                        
                        <!-- Blog post description -->
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.<br/>
                        </p>
                        <p>
                           Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                        </p>
                        
                        <!-- Blog read more -->
                        <div class="read-more">
                            <a href="blog_3.html">Read More...</a>
                        </div>
                        
                        <!-- Blog comments -->
                        <div class="comments">
                            <a href="#">4 comments</a>
                        </div>
                    </article>
                    <!-- End Article -->
                    
                    <!-- Pagination -->
                    <div class="pagination center">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4 blog-list-right">
                    <!-- Latest blog posts block -->
                    <div class="block">
                        <h6>Lates blog posts</h6>
                        <ul class="simple-link-list">
                            <li>
                                <a href="blog_1.html" class="active">Blog post title 1</a>
                            </li>
                            <li>
                                <a href="blog_2.html">Blog post title 2</a>
                            </li>
                            <li>
                                <a href="blog_3.html">Blog post title 3</a>
                            </li>
                            <li>
                                <a href="blog_4.html">Blog post title 4</a>
                            </li>
                            <li>
                                <a href="blog_5.html">Blog post title 5</a>
                            </li>
                            <li>
                                <a href="blog_6.html">Blog post title 6</a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- Tags -->
                    <div class="block">
                        <h6>Categories</h6>
                        <nav class="submenu">
                            <ul>
                                <li>
                                    <a href="./blog.html" class="active">All</a>
                                </li>
                                <li>
                                    <a href="./blog.html">Technology</a>
                                </li>
                                <li>
                                    <a href="./blog.html">Design</a>
                                </li>
                                <li>
                                    <a href="./blog.html">Future trends</a>
                                </li>
                                <li>
                                    <a href="./blog.html">Photography</a>
                                </li>
                                <li>
                                    <a href="./blog.html">Other</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    


                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE | BLOG -->
    
    <!-- PAGE | REGISTRATION -->
<%= render '/shared/registration' %>
    <!-- END PAGE | REGISTRATION -->